*{
    margin: 0px;
    padding: 0px;
}


.container{
    width: 85vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 20px solid #ffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
    


}

.wrappper{
    width: 10px;
    
    animation: slide 16s infinite;
}

@keyframes slide {
    0%{
        transform:translateX(0) ;

    }
    
    25%{
        transform:translateX(0) ;

    }
    
    30%{
        transform:translateX(-100) ;

    }

    55%{
        transform:translateX(-100) ;

    }
    75%{
        transform:translateX(-200) ;

    }
    80%{
        transform:translateX(-300) ;

    }
    100%{
        transform:translateX(-300) ;

    }












}

img{
    width: 100%;

}